 <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #ffffff;
        }
        .container {
            text-align: center;
            background: #d9dadf;
            padding: 20px;
            border-radius: 8px;
            box-shadow:  0px 10px rgba(91, 245, 112, 0.1);
            max-width: 400px;
        }
        input {
            width: 100%;
            padding: 10px;2
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px 20px;
            background-color: #28a745;
            color: rgba(1, 2, 8, 0.637);
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #497fd1;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #35920a;
        }
        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #666;
        }
    </style>